*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #d3d3d3;
  --primary-text-color: #1c3c0d;
  --secondary-text-color: #b0ffcb;
  --primary-color: #202020;
  --body: #303030;
  --secondary-color: #2b8700;
}

body{
  background-color: var(--body);
}
